header {
  background-color: $header-color;
  width: 1039px;
}

header p {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 17px;
  color: #666;
}

header.row p{
  margin: 0;
}

header .logo {
    margin-top: 7px;
    margin-left: -30px;
    width: 253px;
    height: 51px;
    position: relative;
    left: 61px;
    top: 19px;
    z-index: 84;
    background: url(../img/logo_1024.png) no-repeat;
    background-size: contain;
}
header .title {
    margin-top: 30px;
    margin-left: 113px;
    font-family: 'HelveticaNeueCyr-Light', sans-serif;
    font-size: 17px;
    color: #666;
}

.contact-wrapper {
  padding-top: 37px;
  padding-left: 50px;
}

.search-wrapper {
  padding-top: 66px;
  padding-left: 31px;
  input {
    padding: 7px;
    font-family: 'HelveticaNeueCyr-Light', sans-serif;
    font-size: 17px;
    color: #666;
    width: 259px;
    height: 31px;
    border: 1px solid #aaa;
  }
}

.search-wrapper span.glyphicon.glyphicon-search{
  font-size: 19px;
  position: relative;
  right: 33px;
  top: 6px;
  color: #666;
}
