header {
  background-color: #f5f5f5;
  width: 1039px;
}

header p {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 17px;
  color: #666;
}

header.row p{
  margin: 0;
}

header .logo {
    margin-top: 7px;
    margin-left: -30px;
    width: 253px;
    height: 51px;
    position: relative;
    left: 61px;
    top: 19px;
    z-index: 84;
    background: url(../img/logo_1024.png) no-repeat;
    background-size: contain;
}
header .title {
    margin-top: 30px;
    margin-left: 113px;
    font-family: 'HelveticaNeueCyr-Light', sans-serif;
    font-size: 17px;
    color: #666;
  }