.telephone-icon {
  margin-right: 10px;
  display: block;
  float: left;
  width: 24px;
  height: 17px;
  background-image: url(../img/24x21_telephone_btn.png);
  background-size: contain;
}

.life-icon {
  margin-left: 3px;
  margin-top: 2px;
  margin-right: 7px;
  display: block;
  float: left;
  width: 24px;
  height: 13px;
  background-image: url(../img/Life_icon.png);
  background-size: contain;
}