.breadcrumb {
  margin-bottom: 0 !important;
  padding-top: 20px;
  padding-left: 30px;
  background-color: inherit;
}

.breadcrumb>li+li:before {
  font-size: 12px;
  padding: 0 5px;
  color: #333;
  content: "/\00a0";
}

.breadcrumb>li.active {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 12px;
  color: #079e9e;
}

.breadcrumb>li>a {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 12px;
  color: #333;
}

section>div.row:last-child {
  padding-bottom: 30px;
}

section>div.row img{
  margin-top:30px;
  margin-left: 30px;
}

section>div.row a>img{
  margin-top:0;
  margin-left: 0;
}

section>div.row p {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 17px;
  color: #333;
  text-align: justify;
}

section>div.row p:hover{
  text-decoration: underline;
  cursor: pointer;
}

section>div.row p.title {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 17px;
  color: #079e9e;
  text-decoration: none;
  cursor: default;
}

section>div.row p.title.main {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 17px;
  color: #079e9e;
  text-transform: uppercase;
  text-decoration: none;
  cursor: default;
}

section>div.row>div.col-md-9>div{
  margin-top: 30px;
}

section>div.row>div.col-md-3>p {
  text-align: right;
}

section>div.row>div.col-md-3>div {
  margin-top: 20px;
}

section>div.row>div.col-md-3>div a {
  display: block;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 14px;
  color: #666;
  cursor: pointer;
  transition: color 200ms ease;
}

section>div.row>div.col-md-3>div>div {
  padding-top: 10px;

}

section>div.row>div.col-md-3>div>div a{
  margin-top: 10px;

}

section>div.row>div.col-md-3>div a[type='button'] {
  font-size: 17px;

}

section>div.row>div.col-md-3>div a[type='button']:hover, section>div.row>div.col-md-3>div a[type='button']:focus{
  color: $focus;
}

section>div.row>div.col-md-3>div {
  margin-left: 30px;
}

section>div.row>div div>p.name, section>div.row>div div>p.price {
  color: #666;
  text-align: center;
}

.product-card:hover {
  transition: box-shadow 200ms ease;
}

.product-card:hover {
  box-shadow: black 0 0 17px -4px;
}