$header-color: #f5f5f5;
$body-color: #efefef;

body {
  font-size: 24px;
  font-family: 'HelveticaNeueCyr-Roman', sans-serif;
  color: #666;
  //background: url(../img/1024_BabyCare_home.png) no-repeat;
  //background: url(../img/1024_BabyCare_menu_catalog.png) no-repeat;
  //background: url(../img/1024_BabyCare_kontakty.png) no-repeat;
  height: 967px;
  width: 1024px;
  background: #efefef;
  background-size: contain;
}


@import 'fonts';
@import 'header';
@import 'nav';
@import 'footer';
@import 'section';
@import 'dropdown-menu';
@import 'icons';